## Deliverable 3. Create a Travel Itinerary Map.

In [54]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [55]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,At-Bashi,KG,12.15,clear sky,41.1702,75.8106,Hostel At-Bashy
1,14,Rocha,UY,12.85,overcast clouds,-34.4833,-54.3333,Hotel Arrarte
2,16,Hasaki,JP,11.22,light rain,35.7333,140.8333,Inubosaki Kanko Hotel
3,18,Muros,ES,10.09,clear sky,42.7762,-9.0603,Apartment Av. Castelao
4,22,Mataura,NZ,11.67,clear sky,-46.1927,168.8643,Ellie's Villa

In [56]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °C</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [57]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(17.0, 40.0), zoom_level=1.7)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Northam"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Northam"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Margate"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Bridlington"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Oxford"]

In [59]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end   = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (51.0333, -4.2167), End: (51.0333, -4.2167)
Stop 1: (51.3813, 1.3862), Stop 2: (54.0831, -0.1919), Stop 3: (51.7522, -1.256)

In [64]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Create Map with route
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,101,Northam,GB,10.90,few clouds,51.0333,-4.2167,Durrant House Hotel
1,322,Margate,GB,12.15,overcast clouds,51.3813,1.3862,Premier Inn Margate hotel
2,481,Bridlington,GB,11.12,overcast clouds,54.0831,-0.1919,Expanse Bridlington Seafront Hotel
3,649,Oxford,GB,10.13,overcast clouds,51.7522,-1.2560,Malmaison Oxford

In [66]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [67]:
# 11a. Add a marker layer for each city to the map.
figure_layout = {
    'width': '800px',
    'height': '800px'}
fig = gmaps.figure(layout=figure_layout, center=(53, -1.1), zoom_level=7)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='800px', width='800px'))